.heading{
    font-family: "Gill Sans", sans-serif;
    color: grey;
}
.topics{
    font-family: "Gill Sans", sans-serif;
    color: #000;
    text-transform: uppercase;
}
.divider{
    width: 15rem;
}